body
{
    width: 97%;
    height: 97%;

    margin: 0;
    display: flex;
    
    background-color: #E57373;
}

#holder
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}